{% extends "layout.html" %}
{% block body %}
<div class='main'>
  <h1>Seinfeldly</h1>

  {% if short and long %}
    <div><a href="{{ short }}">{{ short }}</a> is now short for <a href="{{ long }}">{{ long }}</a>!</div>
    <br></br>
  {% endif %}

  <form action="{{ url_for('add') }}" method=post>
  <div>Enter your url here, and get ready for it to be Seinfeldified:</div>
  <div class="inputField"><input type=text name=long></div>
  <div class="inputField"><input type=submit value="Create link"></div>
  </form>
</div>
{% endblock %}
